body, p, div{
	margin:0px; padding:0px;	
}

.head{
	width:100%;
	height:100px;
}

.logoPic{
	height: 90px;
	margin: 5px 0px 0px 30px;
	float:left;	
}

.configPic{
	height: 90px;
	margin: 5px 30px 0px 0px;
	float:right;
}

.footer{
	width:100%;
	height:100px;
	background: url("../images/footer.png");
	background-size: 100% cover;
}
.player{
	width:100%;
	height:150px;
	background-color:Green;
}
.player button{
	background:#222222;
	border:1px #999999 solid;
	border-radius:5px;
	color: #cccccc;
}
.clearer{
	clear:both;
	float:none;
}
.library{
	width:50%;
	float:left;
	height:600px;
	background:#dddddd;
}
.library_content{
	overflow-y:auto;
	height: 500px;
	margin-top:20px;
}
.tab{
	float:left;
	width:22%;
	padding:10px 0px 10px 0px;
	margin:2px;
	text-align:center;
	border:2px #444444 solid;
	border-radius:5px;
	background:#F9F9F9;
}
.playlist{
	width:50%;
	height:600px;
	float:right;
	background:#bbbbbb;
	color: #fdfdfd;
}
.playlist_content{
	overflow-y:auto;
	height:500px;
}


#audioPlayer{
	width: 500px;
}
